@import url('https://fonts.googleapis.com/css2?&family=Zen+Tokyo+Zoo&family=Sawarabi+Mincho&family=Lato&family=Source+Code+Pro&family=VT323&display=swap');
@font-face {
    font-family: Dirga;
    src: url(../fonts/Dirga.ttf);
}
@font-face {
    font-family: MK3ul;
    src: url(../fonts/Apex-Mk3-ExtraLight.otf);
}
@font-face {
    font-family: MK3m;
    src: url(../fonts/Apex-Mk3-Medium.otf);
}
@font-face {
    font-family: Beon;
    src: url(../fonts/Beon.otf);
}
@font-face {
    font-family: Marquee-moon;
    src: url(../fonts/marquee-moon.ttf);
}
@font-face {
    font-family: NeonTubes2;
    src: url(../fonts/NeonTubes2.otf);
}
@font-face {
    font-family: Night70sb;
    src: url(../fonts/Night-Club-70s-Bold.ttf);
}
@font-face {
    font-family: Night70sr;
    src: url(../fonts/Night-Club-70s-Regular.ttf);
}
::-webkit-scrollbar{
    display: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
//navbar
.navbar{
    position:absolute;
    width:100vw;
    z-index: 9999;
    opacity:1;
    
}
.navbar-items{
    list-style:none;
    padding: 0;
    margin: 0;
    overflow:hidden; 
    //display: flex;
    //float:right;
    display:inline;
}
.item{
    float: right;
    padding: 1%;
    //font-size: 5vh;
    //display:inline-block;
}

.fab, .fas{
    display: block;

}


button{
    text-decoration: none;
    background-color: transparent;
    border:none;
    color: white;
    overflow:hidden;
    //padding: 5px 10px;
}
.fa-linkedin{
    color:#2867B2;
    font-size: 5vh;
}
.fa-facebook{
    color:#4267B2;
    font-size: 5vh;
}
.fa-instagram{
    color: #E1306C;
    font-size: 5vh;
}
.fa-rocket{
    font-size: 5vh;
}
//navbar ends
body{
    background: white;
    color: aliceblue
}


.heading{
    top: 20vh;
    left: 50vw;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 50vh;
    opacity: 0.4;
    font-family: MK3m,Beon,sans-serif;
    justify-content: center;
    align-items: center;
    width:100vw;
    //-webkit-text-stroke: 2px gray;
    color: gray;
    h1{
        position: fixed;
        left: auto;
    }
}
.images{
    overflow: hidden;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    img{
        border-radius: 50%;
        left:70%;
        position: absolute;
        height: 40vh;
        width: 60vh;
    }
    .image1{
        z-index: 2;
    }
    

}
.content{
   overflow: hidden;
    .bar{
        overflow: hidden;
        background: #8A2387;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        //transform: rotate(-45deg);
        right: 0%;
        opacity: 60%;
        position: absolute;
        top: 50%;
        //border: 1px solid red;
        height:4vw;
        width: 45%;
        z-index: 1;
    }
    .text{ 
        font-family: lato,sans-serif;
        //font-size: larger;
        padding-left: 2vw;     
	    color: black;
	    position: absolute;
	    top:30%;
	    bottom: 0;
	    left: 0;
	    right: 0;
  	    margin: auto;
        h1{
            padding-bottom: 1%;
            font-size:120px;
        }
        h3{
            padding-top: 1.5%;
        }
        p{
            font-size: 20px;
        }
    }
    .logos{
         //background-color: red;
        padding-left: 2vw;
        display: flex;
        
	    position: absolute;
	    top:73%;
	    bottom: 0;
	    left: 0;
	    right: 0;
  	    margin: auto;
          img{
              height: 48px;
              width: 48px;
          }
    }
}
.buttons{
    position: absolute;
    display: flex;
    width:100%;
    top: 85vh;
    
    button{
        font-family: MK3ul;
        font-size: 25px;
        margin: 0 auto 0 auto;
        text-align: center;
        //border: 1px solid green;
        padding: 1% 2% 1% 2%;
        border-radius: 30px;
        overflow: hidden;
        letter-spacing: 1px;
        transition: 0.2s;
        //box-shadow: 0px 15px 35px rgba(184, 21, 21, 0.2);
        a{
            text-decoration: none;
            color: black;
        }
        
    }
    button:hover{
        background:#fc354c;
        box-shadow: 0 0 5px #fc354c, 0 0 20px #fc354c, 0 0 40px #fc354c;
        a{
            color: aliceblue;
            transition: 0.2s;
        }
        transition-delay: 0.2s;
        
    }
    /* button{
        border-top: 2px solid linear-gradient(90deg, transparent,#fc354c);
    } */
    @media screen and (max-width: 600px) {
        button {
          font-size: 2.2vh;
        }
    }
}