@import url("https://fonts.googleapis.com/css2?&family=Zen+Tokyo+Zoo&family=Sawarabi+Mincho&family=Lato&family=Source+Code+Pro&family=VT323&display=swap");
@font-face {
  font-family: Dirga;
  src: url(../fonts/Dirga.ttf);
}

@font-face {
  font-family: MK3ul;
  src: url(../fonts/Apex-Mk3-ExtraLight.otf);
}

@font-face {
  font-family: MK3m;
  src: url(../fonts/Apex-Mk3-Medium.otf);
}

@font-face {
  font-family: Beon;
  src: url(../fonts/Beon.otf);
}

@font-face {
  font-family: Marquee-moon;
  src: url(../fonts/marquee-moon.ttf);
}

@font-face {
  font-family: NeonTubes2;
  src: url(../fonts/NeonTubes2.otf);
}

@font-face {
  font-family: Night70sb;
  src: url(../fonts/Night-Club-70s-Bold.ttf);
}

@font-face {
  font-family: Night70sr;
  src: url(../fonts/Night-Club-70s-Regular.ttf);
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  position: absolute;
  width: 100vw;
  z-index: 9999;
  opacity: 1;
}

.navbar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline;
}

.item {
  float: right;
  padding: 1%;
}

.fab, .fas {
  display: block;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  overflow: hidden;
}

.fa-linkedin {
  color: #2867B2;
  font-size: 5vh;
}

.fa-facebook {
  color: #4267B2;
  font-size: 5vh;
}

.fa-instagram {
  color: #E1306C;
  font-size: 5vh;
}

.fa-rocket {
  font-size: 5vh;
}

.heading {
  top: 20vh;
  left: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 50vh;
  opacity: 0.4;
  font-family: MK3m,Beon,sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  color: gray;
}

.heading h1 {
  position: fixed;
  left: auto;
}

.buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 85vh;
  /* button{
        border-top: 2px solid linear-gradient(90deg, transparent,#fc354c);
    } */
}

.buttons button {
  font-family: MK3ul;
  font-size: 25px;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 1% 2% 1% 2%;
  border-radius: 30px;
  overflow: hidden;
  letter-spacing: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.buttons button a {
  text-decoration: none;
  color: black;
}

.buttons button:hover {
  background: #fc354c;
  -webkit-box-shadow: 0 0 5px #fc354c, 0 0 20px #fc354c, 0 0 40px #fc354c;
          box-shadow: 0 0 5px #fc354c, 0 0 20px #fc354c, 0 0 40px #fc354c;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.buttons button:hover a {
  color: aliceblue;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 600px) {
  .buttons button {
    font-size: 2.2vh;
  }
}

* {
  margin: 0;
  padding: 0;
}

.form_container {
  font-family: lato,sans-serif;
  top: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 8;
  color: black;
  font-size: 1.2rem;
}

.form {
  position: relative;
  width: 20rem;
  top: 50vh;
}

.form .form_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid gray;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 1.25rem;
  background: none;
}

.form .form_input:hover {
  border-color: #E1306C;
}

.form .form_input:focus {
  border-color: #fc354c;
}

.form .form_label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  cursor: text;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #c9c9c9;
}

.form_input:focus ~ .form_label, .form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
/*# sourceMappingURL=contact.css.map */