<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/26e2115a82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/contact.css" />
    <title>Contact</title>
</head>
<body>
    <nav class="navbar" id="navbar">
        <ul class="navbar-items">
          
          <li class="linkedin item">
            <button class="fab fa-linkedin"></button>
          </li>
          <li class="facebook item">
            <button class="fab fa-facebook"></button>
          </li>
          <li class="instagram item">
            <button class="fab fa-instagram"></button>
          </li>
          <!-- <li class="project item">
            <button class="fas fa-rocket" style="color:black"></button>
          </li> -->
        </ul>
    </nav>
    <div class="heading">
        <h1>CONTACT</h1>
    </div>
    
    <div class="wrapper">
      <form action="https://formsubmit.co/arnav.sar@gmail.com" method="POST">
      <div class="title">
        <h1>Send me a message!</h1>
      </div>
      <div class="contact-form">
        <div class="input-fields">
          <input type="text" class="input" placeholder="Name" name="Name">
          <input type="email" class="input" placeholder="Email Address" name="Email">
          <div class="msg">
            <textarea placeholder="Message" name="Message"></textarea>
            
          </div>
          <button class="btn" type="submit">send</button>
        </div>
        
      </div>
    </form>
    </div>

    <div class="buttons">             
        <button class="about"><a href="index.html">Home</a></button>
        <button class="projects"><a href="about.html">About Me</a></button>
        <button class="contact"><a href="project.html">Projects</a></button>
    </div>
</body>
</html>